.title-Cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-Cards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 240px;
  cursor: pointer;
  border-radius: 4px;
}

.card-list .card {
  position: relative;
}

.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #fff;
}
